
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:darkblue;
    padding:0%
}

.image-container span {
    text-align:inherit;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    color:white;
}

.image-container {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    margin-right: 50px;
}

.image-container img {
    max-width: 500px;
    margin-bottom: 10px; 
    height:auto;
}


.frame {
    background-color:rgb(48, 15, 195);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login {
    font-size: 25px;
    font-weight: bold;
    color:white;
    margin-bottom: 20px;
}

.email input,
.passsword input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Remember Me and Forgot Password container */
.remember_forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color:white;
}

/* Remember Me checkbox */
.remember {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.remember input[type="checkbox"] {
    margin-right: 5px;
    color: white;
    accent-color: white; /* Changes the checkbox color to white */
}

.remember label {
    color: white;
}


/* Forgot Password link */
.forgot a {
    color:white;
    text-decoration:none;
    font-size: 14px;
    text-align: right;
}

.forgot a:hover {
    text-decoration: underline;
}

/* Login button */
.log {
    background-color:rgb(rgb(17, 26, 106), green, blue);
    color:rgb(60, 40, 150);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.log:hover {
    background-color:#007bff;
}

.form_container{
    display: flexbox;
    align-items: right;
}